.navbar-collapse {
  overflow: hidden;
}

.nav-link {
  margin-top: 15px;
  width: 15%;
}

.logo {
  width: 40%;
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.navbar nav {
}

.nav.navbar-nav {
  width: 100%;
}

.nav-container  {
  border-bottom: 1px solid darkgrey;
  height: 80px;
}

.main-area {
  margin-top: 60px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: url('http://www.bellaterreno.com/graphics/clipart_mystical/robottiny/robottiny_canister_ani.gif') no-repeat;
    color: black;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
